// Commom css
.padding__container{
    padding: 0px 50px;
}

.back-top{
    position: fixed;
    right: 20px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    bottom: 50px;
    background-color: $sub-color;
    color: $white-color;
    font-size: 1.5rem;
    border-radius: 50px;
    cursor: pointer;
}


.fixed {
    overflow: hidden;
    background-color: #333;
    position: fixed ;
    z-index: 10;
    top: 0;
    left: 0;
    right: 0;
    padding: 0px 50px;
    width: 100%;
}
