//Font
$font-weight-default: 500;
$font-family:  'Chakra Petch', sans-serif;
$base-font-size: 62%;


//New type breakpoint
$containerX-padding: 30px;
$breakpoint-pc: 1260px;
$breakpoint-pc2: 1800px;
$content-pc: 1200px;
$breakpoint-sp: 750px;

// ------------------------
$primary-color : #1c1f26;
$sub-color : #29c2c1;
$white-color: #ffff;
$btn-hover: #DC3535;

